<!-- Header section containing logo -->
<header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
    <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <h3><i class="material-icons">chat_bubble_outline</i> Friendly Chat</h3>
    </div>
    <div id="user-container">
      <div *ngIf="user" id="header-user-info">
        <div id="user-pic" [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"></div>
        <div id="user-name" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white"> <span> {{user.displayName}} </span></div>
        <button id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          Sign-out
        </button>
      </div>
      <div *ngIf="!user">
        <button id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
                (click)="signInWithGoogle()">
          <i class="material-icons">account_circle</i>Sign-in with Google
        </button>
      </div>
    </div>
  </div>
</header>